@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400i');
.mainSection{
    height: 1000px;
    opacity: 1;
    margin : 0;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    .mainInfo {
        height: 400px;
        width: 50%;
        background-color: beige;
        box-shadow: 8px 8px 8px #333;
        font-family: 'Libre Baskerville', serif;
        
        .content{
            font-size: 25px;
            margin: 15px;
            padding: 20px;
        }
    }
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;;
    color : white;
    background-color: #333;
    text-align: center;
}